* {
    background-color: #252C3F;
    color: #F0EBDF;
    font-family: monospace;
    font-size: 15px;
}
h1 {
    font-size: 30px;
    margin-left: 30px
}

form {
    margin-left: 10px;
    
    
}

form label {
    display: inline-block;
    margin-bottom: 5px;
}
form div {
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
    background-color: #000515;
    border: none;
    width: 250px;
    height: 25px;
    font-family: monospace;
    margin-bottom: 5px;
}

form input[type="submit"] {
    width: 125px;
    height: 40px;
    font-size: 2em;
    background-color: #EA8859;
    color: #252C3F;
    border: none;
    text-transform: uppercase;
    font-family: monospace;
    font-stretch: ultra-expanded;
}

form textarea {
    height: 150px;
    
}
